<div class="sticky left-0 top-[100px] min-h-[calc(100vh-100px)] mt-10 bg-red-400 rounded-tr-lg rounded-br-lg flex flex-col justify-between">
    <div class="relative">
        <div class=" text-white text-center mb-6 justify-start flex flex-col">
            <div class="absolute -top-6 left-1/2 transform -translate-x-1/2 w-20 h-20 rounded-full border-2 border-white overflow-hidden">
                <img src="/assets/images/profile.jpg" class="w-full h-full object-cover" alt="profile image">
            </div>

            <div class="mt-16">
            <p>LoginName</p>
            <p>LoginGmail</p>
            </div>
        </div>

        <div class="flex flex-col w-full space-y-4">
            <button (click)="selectMytask()" 
            [ngClass]="activePage === 'mytask' ? 'bg-white text-red-400' : 'bg-red-400 text-white'"
            class="flex items-center group mr-4 ml-4 p-4 rounded-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                 [ngClass]="activePage === 'mytask' ? 'fill-red-400' : 'fill-white'"
                class="mr-4" viewBox="0 0 24 24">
                    <path d="M5 22h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2h-2a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1H5c-1.103 0-2 .897-2 2v15c0 1.103.897 2 2 2M5 5h2v2h10V5h2v15H5z"/>
                    <path  d="m11 13.586l-1.793-1.793l-1.414 1.414L11 16.414l5.207-5.207l-1.414-1.414z"/>
                </svg>
                <p>My Task</p>
            </button>

            <button (click)="selectKanban()" 
            [ngClass]="activePage === 'kanban' ? 'bg-white text-red-400' : 'bg-red-400 text-white'"
            class="flex items-center group mr-4 ml-4 p-4 rounded-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                [ngClass]="activePage === 'kanban' ? 'stroke-red-400' : 'stroke-white'"
                class="mr-4" viewBox="0 0 24 24">
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 3.6v16.8a.6.6 0 0 0 .6.6h16.8a.6.6 0 0 0 .6-.6V3.6a.6.6 0 0 0-.6-.6H3.6a.6.6 0 0 0-.6.6M6 6v10m4-10v3m4-3v7m4-7v5"/>
                </svg>
                <p>Kanban Board</p>
            </button>

            <!-- <button class="flex items-center bg-red-400 text-white focus:text-red-400 focus:bg-white group mr-4 ml-4 p-4 rounded-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"class="fill-white group-focus:fill-red-400 mr-4" viewBox="0 0 24 24">
                    <path d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6z"/>
                </svg>
                <p>Dashboard</p>
            </button> -->
        </div>
    </div>

    <!-- <button class="flex justify-start items-center m-8">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="mr-4" viewBox="0 0 24 24"><path fill="#fff" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"/></svg>
        <p class="text-white">Logout</p>
    </button> -->
</div>
