<div 
[ngClass]="{'w-[500px] p-6' : showViewModal ,
            'w-auto p-4' : !showViewModal}"
class="flex flex-col flex-between border-[1px] mt-10 ml-0 mr-16 border-[#A1A3AB] rounded-xl bg-white min-h-[calc(100vh-120px)]">
    <div class="flex flex-col justify-start">
        <div class="flex mb-4"> 
            <div class="h-48 border-none rounded-xl overflow-hidden w-48" [ngClass]="{'bg-red-400' : !task.image }">
                <img *ngIf="task.image" [src]="task.image" class="w-full h-full object-cover " alt="task image">
            </div>    
            <div class="flex flex-col pl-4 justify-end space-y-4">
                <h1 class="font-bold">{{task.title}}</h1>
                <p class="text-sm">Priority : <span
                     [ngClass]="{'text-[#e24242]' : task.priority === 'extreme',
                                    'text-[#42ADE2]' : task.priority === 'moderate',
                                    'text-[#5b851c]' : task.priority === 'low'}"
                    >{{task.priority}}</span></p>
                <p class="text-sm">Status : <span
                    [ngClass]="{'text-red-400' : task.status === 'todo',
                                    'text-[#0225FF]' : task.status === 'inprogress',
                                    'text-[#05A301]' : task.status === 'done'}"
                    >{{task.status}}</span></p>
                <p class="text-[#A1A3AB] text-xs">Created on : {{task.dateCreate}}</p>
            </div>
        </div>

        <div class="text-[#747474]">
            <p><span class="font-bold">Task Title : </span><span>{{task.title}}</span></p>
            <p><span class="font-bold">Task Description (Note) : </span><span class="whitespace-pre-line">{{task.description}}</span></p>
            <p><span class="font-bold">Deadline for Submission : </span><span>{{task.date}}</span></p>
        </div>
    </div>

    <div class="flex justify-between mt-auto">
        <button class="border-none underline" (click)="onClose()">Go back</button>
        <div class="flex"
        [ngClass]="{'hidden' : showViewModal ,
            'block' : !showViewModal}">
        <button class="bg-red-400 rounded-xl p-2 mr-2" (click)="onDeleteClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#fff" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z"/>
            </svg>
        </button>
        <button class="bg-red-400 rounded-xl p-2" (click)="onEditClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none">
                <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                <path fill="#fff" d="M15 3c1.296 0 2.496.41 3.477 1.11l-9.134 9.133a1 1 0 1 0 1.414 1.414l9.134-9.134A6 6 0 0 1 21 9v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm6.657-.657a1 1 0 0 1 0 1.414L19.89 5.523a6 6 0 0 0-1.414-1.414l1.766-1.766a1 1 0 0 1 1.414 0Z"/>
                </g>
            </svg>
        </button>
        </div>
    </div>

</div>